<div class="card px-3 py-2 mb-2">
  <div class="media mt-3">
    <% if comment.user.avatar.present? %>
      <%= image_tag comment.user.avatar.variant(thumbnail: '100x100^', gravity: 'center'), class: "align-self-start mr-3 avatar" %>
    <% end %>
    <div class="media-body">
      <h5 class="mt-0">
        <%= link_to comment.user.name, comment.user %>
      </h5>
      <p class="m-0"><%= comment.text.html_safe %></p>
    </div>
  </div>
</div>
