<div class="jumbotron">
  <h1 class="display-4">Welcome to VolunteerMatch!</h1>
  <p class="lead">A website to offer your help as a volunteer OR if you are an organizer finding volunteers to help jump start your project.</p>
  <hr class="my-4">
  <p>Interested?</p>
  <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign Up</a>
</div>