// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import 'bootstrap/variables';
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";
@import "actiontext";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.new_user {
  .role {
    display: flex;
    label {
      flex: 1;
      input[type='radio'] {
        display: none;
      }
      &:first-child {
        margin-right: 10px;
      }
      .card {
        height: 100%;
      }
      input[type='radio']:checked + .card {
        background: $primary;
        color: white;
      }
    }
  }
}
