<div class="media">
  <% if organization.logo.present? %>
    <div>
      <%= image_tag organization.logo.variant(thumbnail: '64x64^', gravity: 'center', extent: '64x64'), class: "mr-3 rounded" %>
    </div>
  <% end %>

  <div class="media-body">
    <h5 class="my-1">
      <%= organization.name %>
    </h5>
    <% if organization.phone.present? %>
      <p class="m-0"><%= organization.phone %></p>
    <% end %>
    <% if organization.email.present? %>
      <p class="m-0"><%= organization.email %></p>
    <% end %>

  </div>

</div>
