<dl class="dl-horizontal">
  <dd>
    Posted By <%= organization.name %>
    <% if organization.logo.present? %>
      <div>
        <%= image_tag organization.logo.variant(resize_to_limit: [100, 100]) %>
      </div>
    <% end %>
  </dd>

  <% if organization.phone.present? %>
    <dt>Phone:</dt>
    <dd><%= organization.phone %></dd>
  <% end %>

  <% if organization.email.present? %>
    <dt>Email:</dt>
    <dd><%= organization.email %></dd>
  <% end %>

</dl>
